@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --color-snow: 255 255 255;
    --color-snow-always-light: 255 255 255;

    --color-polar: 247 247 247;
    --color-polar-always-light: 247 247 247;

    --color-owl: 88 204 2;
    --color-owl-always-light: 88 204 2;
    --color-tree-frog: 88 167 0;
    --color-tree-frog-always-light: 88 167 0;

    --color-macaw: 28 176 246;
    --color-macaw-always-light: 28 176 246;
    --color-bea-secondary: 24 153 214;

    --color-swan: 229 229 229;
    --color-swan-always-light: 229 229 229;

    --color-eel: 75 75 75;
    --color-eel-always-light: 75 75 75;

    --color-hare: 175 175 175;
    --color-hare-always-light: 175 175 175;

    --color-wolf: 119 119 119;
    --color-wolf-always-light: 119 119 119;

    --color-facebook: 59 89 152;
    --color-google: 66 133 244;
  }

  :root[data-theme='dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --color-snow: 19 31 36;
    --color-polar: 32 47 54;
    --color-owl: 147 211 51;
    --color-tree-frog: 121 185 51;
    --color-macaw: 73 192 248;
    --color-swan: 55 70 79;
    --color-eel: 241 247 251;
    --color-hare: 82 101 109;
    --color-wolf: 220 230 236;

    --color-facebook: 45 67 115;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-snow-default text-eel-default;
  }
}
